[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "~=0.83"
uvicorn = "~=0.18"
tortoise-orm = "~=0.19"

[dev-packages]

[requires]
python_version = "3.10"
